version: 2
updates:
  - package-ecosystem: "github-actions"
    directory: "/"
    open-pull-requests-limit: 0
    schedule:
      interval: "monthly"
    labels:
      - "ci"
    commit-message:
      prefix: "ci(deps):"
